<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
  <nav>
    <h2 class="grayed-heading center"><%= t('headings.sign_in_or_create_account') %></h2>
    <ul class="omniauth-button-group">
      <li class="omniauth-button">
        <%= link_to user_facebook_omniauth_authorize_path, class: 'button facebook' do %>
          <%= icon('facebook-official') %><%= t('headings.sign_in__with', source: 'Facebook') %>
        <% end %>
      </li>

      <li class="omniauth-button google">
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'button google' do %>
          <%= icon('google') %><%= t('headings.sign_in__with', source: 'Google') %>
        <% end %>
      </li>

      <li class="omniauth-button twitter">
        <%= link_to user_twitter_omniauth_authorize_path, class: 'button twitter' do %>
          <%= icon('twitter') %><%= t('headings.sign_in__with', source: 'Twitter') %>
        <% end %>
      </li>

      <li>
        <%= link_to  t('headings.sign_in_with_email'), new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </nav>
</div>
